.cardHold {
    width: 100%;
    /* min-height: 450px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    /* gap: 2rem; */
}